In [0]:
#approch 2  O(n)
def sum_pair(arr,k):
  d = {}
  for i in range(len(arr)):
    if arr[i] in d:
      d[arr[i]]+=1
    else:
      d[arr[i]] = 1
  for j in range(len(arr)):
    f =  k - arr[j]
    if f in d:
      return arr[j],f
  return False

In [80]:
sum_pair([1,5,7,9,12],3)

False

In [79]:
sum_pair([1,5,7,9,12],17)

(5, 12)